body {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    height: auto;
    color: gray;
   
   

}
.column {
    width: 20%;
    height: auto;
    display: inline-block;
    float: left;
    text-align: center;
    position: relative;
  
}

.reveal {
    display: none;
}

.reveal:hover {
    display: block;
}

#one {
    top: 0px;
    left: auto;
   
}

#two {
    top: 150px;
    left: auto;
}

#three {
    top: 150px;
    left: auto;
}

#four {
    top: 150px;
    left: auto;
}

#five {
    top: 0px;
    left: auto;
}

.mainText {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 10%;
}

.mainText p {
    width: 45%;
    height: auto;
    margin: auto;
    
}

.mainText h1 {
    width: 45%;
    height: auto;
    margin: auto;
   
}

ul {
    width: 45%;
    height: auto;
    margin: auto;
}

p {
    font-family: Arial, sans-serif;
}

h1 {
    font-family: Arial, sans-serif;
}

img {
    width: 85%;
    height: auto;
    margin: auto;
    display: block;
    padding: 0px;
    box-shadow: .25px 2px 10px 1px #cccccc;
}

img {
    -webkit-transition: all .25s ease; /* Safari and Chrome */
    -moz-transition: all .25s ease; /* Firefox */
    -ms-transition: all .25s ease; /* IE 9 */
    -o-transition: all .25s ease; /* Opera */
    transition: all .25s ease;
}

img:hover {
    -webkit-transform:scale(1.025); /* Safari and Chrome */
    -moz-transform:scale(1.025); /* Firefox */
    -ms-transform:scale(1.025); /* IE 9 */
    -o-transform:scale(1.025); /* Opera */
     transform:scale(1.025);
}

@media screen and (max-width: 750px) {
    .column {
        width: 75%;
        height: auto;
        float: none;
        padding: 0;
        margin-top: 5%;
    }
    .container {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    #one {
        top: 0;
    }
     #two {
        top: 0;
    }
     #three {
        top: 0;
    }
     #four {
        top: 0;
    }
     #five {
        top: 0;
    }

}